.clickable {
    cursor: pointer;
}

.clickable:hover {
    -ms-transform: scale(1.05, 1.05); /* IE 9 */
    -webkit-transform: scale(1.05, 1.05); /* Safari */
    transform: scale(1.05, 1.05);
    z-index: 9999;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    background-color: #fff;
}
